.looper-app {
    margin-bottom: 2rem;

    .list-container {
        align-items: center;
        width: 100%;
    }

    .control-container {
        width: 2rem;
        margin-bottom: 2rem;

        .fa-stop,
        .fa-play {
            font-size: 2rem;
            cursor: pointer;
            color: white;
            -webkit-text-stroke: 2px rgb(105, 105, 105)
        }
    }


    @include for-narrow-layout {
        margin-bottom: 0rem;
    }






}