
// COLOR PALETTE

$clr1: #432464;
$clr3: #978d8d;
$clr2: #494b4d;
$clr4: #3a3c3d;
$clr5: #fff;


// LAYOUT BREAKPOINTS

$break-narrow: 500px;
$break-medium: 600px;
$break-normal: 850px;
$break-wide: 960px;
$break-very-wide: 1400px;