header{
    background-color: #f85a15;
    width: 100%;

    h3{
        margin: 0;
        padding: 1rem;
        text-align: center;
        font-family: 'Caveat', cursive;
        font-size: 1.8rem;
        color: white;
        font-weight: 400;
    }
    margin-bottom: 1rem;
}